* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset !important;
}

ul {
  list-style: none;
  margin: unset !important;
}

header {
  background-color: #09a9d1;
  color: white;
}
header nav {
  height: 80px;
}
header nav li {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
header nav .links {
  display: flex;
  align-items: center;
}

main {
  padding: 15px 0;
  color: #09a9d1;
}
main .package {
  display: flex;
  border: 1px solid #dedede;
  margin: 10px 0;
  border-radius: 5px;
}
main .package img {
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
main .package .data {
  padding: 10px;
}
main .package .data span {
  color: black;
}
main .package .data h4 {
  margin: unset;
}
main .package .data .address,
main .package .data .price,
main .package .data .breakfast {
  display: block;
}
main .package .data .address {
  font-style: italic;
  font-size: 13px;
}
main .package .data .price strong,
main .package .data .breakfast strong {
  color: #09a9d1;
}