header { 
    background-color: rgb(9, 169, 209);
    color: white;

    nav {
        height: 80px;
        li { 
            display: inline-block;
            margin-left: 20px;
            font-size: 18px;
            font-weight: bold;
        }
        .links { 
            display: flex;
            align-items: center;
        }
    }
}